/*nav bar*/

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    font-size: 16px;
}
.nav-button{
    color: #007a33;
    border-width: 1px;
    border-color: #007a33;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

/*banner-style*/

.banner{
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    background-color: #d3eae1;
    border-radius: 20px;
    padding: 60px 40px;
}

.banner-picture img{
    flex:2;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.banner-l1{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
    color: #333;
}
.banner-l2{
    font-size: 48px;
}
.banner-content{
    max-width: 580px;
}
#explore-btn{
    margin-top: 30px;
}
/* pillars Section  */
.pillars-container h2{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 32px;
}

/* pillars Cards Container */
.pillar-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

/* Individual pillar Card */
.pillar-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    gap: 0 10px;
    width: 100%;
}

/* Icon Styling */
.pillar-card .icon img {
    width: 50px;
    height: 50px;
}

/* Card Title */
.pillar-card h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

/* Card Description */
.pillar-card p {
    font-size: 12px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
}



/* Vision Section  */
.vision-container {
    padding: 0 0 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Intro Section */
.vision-intro h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.vision-intro p {
    font-size: 12px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* Vision Cards Container */
.vision-cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Individ Vision Card */
.vision-card {
    border-radius: 10px;
    padding: 20px;
    gap: 0 10px;
    width: 100%;

}
#vc1{
    background: #5490F544;
}
#vc2{
    background: #007a3344;
}
#vc3{
    background: #FFC23944;
}
/* Icon Styling */
.vision-card .icon img {
    width: 50px;
    height: 50px;
}

/* Card Title */
.vision-card h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

/* Card Description */
.vision-card p {
    font-size: 12px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Learn More Button */
.learn-more-btn {
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
}
#lm1{
    background: #5490F5;
}
#lm2{
    background: #007a33;
}
#lm3{
    background: #FFC239;
}

/* quote style */
.quote-section {
    line-height: 1.6;
    color: #555;
    margin: 0;
    position: relative;
    padding: 20px;
    background: #ffffff;
    box-shadow: 1px 1px 1px 1px #dedede;
    border-radius: 10px;

}
.quote p{
    margin: 0;
    position: relative;
    font-size: 14px;
    padding-bottom: 20px;

}
.quote strong{
    font-size: 16px;    
}
.quote span{
    font-size: 12px;    
}
.quote-section img{
    position: absolute;
}

/* Recent News Section */
.recent-news-section {
    padding: 20px 0px;
    line-height: 1.6;
}

.recent-news-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.recent-news-section p {
    font-size: 14px;
    color: #555;
    margin-bottom: 40px;
}

.news-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.news-card {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.news-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.news-content h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.news-meta img {
    height: 30px;
    width: auto;
    display: flex;
}

.news-meta span {
    font-size: 12px;
    padding-right: 10px;
    color: #555;
}

.news-content p {
    padding-top: 10px;
    font-size: 12px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Read More Button */
.btn-primary {
    background-color: #006A50;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
}

.donate{
    display: flex;
    flex-direction: column;
}
.donate h2{
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.donate p{
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
    margin: 0px 80px 20px 80px;
}

.donation-options {
    display: flex;
    gap: 20px;
}

.donation-button {
    padding: 20px 30px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    font-size: 40px;
    color: #666;
    font-weight: bolder;
    min-width: 120px;
}

.donation-button.selected {
    background-color: #e0f3e9;
}

.donation-button:hover {
    background-color: #e0f3e9;
}

.custom-amount {
    min-width: 70%;
    padding: 15px;
    margin: 0 auto;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.donate-now {
    background-color: #006A50;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.newsletter {
    background-color: #006A5044;
    padding: 40px 20px;
    border-radius: 12px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newsletter h2{
    font-size: 32px;
    margin-bottom: 5px;
}
.newsletter p{
    font-size: 14px;
    color: #666;
    margin: 20px 200px 20px 200px;
    justify-content: center;
    text-align: center;
}
.subscription-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
.email-input {
    width: 500px;
    padding: 14px;
    margin: 20px auto;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.subscribe-button {
    background-color: #006A50;
    font-weight: bold;
    color: white;
    padding: 14px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.spam-notice {
    color: #666;
    font-size: 14px;
    margin-top: 15px;
}

.social-links {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.footer h2{
    padding: 20px;
}
.footer-divider {
    width: 80%;
    border: none;
    height: 1px;
    background-color: #dedede;
}