/* Vision Section Container */
.vision-container {
    padding: 0 0 20px;
}

/* Intro Section */
.vision-intro h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.vision-intro p {
    font-size: 12px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* Vision Cards Container */
.vision-cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Individual Vision Card */
.vision-card {
    background: #d3eae1;
    border-radius: 10px;
    padding: 20px;
    gap: 0 10px;
}
#vc1{
    background: #FFC23944;
}
#vc2{
    background: #007a3344;
}
#vc3{
    background: #FFC23944;
}
/* Icon Styling */
.vision-card .icon img {
    width: 50px;
    height: 50px;
}

/* Card Title */
.vision-card h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

/* Card Description */
.vision-card p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Learn More Button */
.learn-more-btn {
    font-weight: bold;
    background-color: #007a33;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

